<div class="col-lg-6">
  	<div id="itinerary_content">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#activitiesTab" data-toggle="tab"><h5>Activities</h5></a></li>
			<li><a href="#tab2" data-toggle="tab"><h5>Accommodations</h5></a></li>
			<li><a href="#tab3" data-toggle="tab"><h5>Transport</h5></a></li>
		</ul>
	 	<div class="tab-content">
	 		<div class="tab-pane active" id="activitiesTab">
	 				{% include "trip/activities.html" with user=user user_profile=user_profile friend_participants_profiles=friend_participants_profiles activities=activities dates=dates activity_category_icons=activity_category_icons%}
	 		</div>
	 		<div class="tab-pane" id="tab2">
	 			<br>
	 			{% include "finder/finder_hotel_form.html"%}
	 			<div id="finder_hotel_results">
	 			</div>
	 		</div>
	 		<div class="tab-pane" id="tab3">
	 			<p>Howdy, I'm in Section 3.</p>	
	 		</div>
	 	</div>
	 </div>
  </div>