<h4 class="text-info"><strong>Find Accommodations in San Francisco</strong></h4>
<form id="finder_hotel_form" class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-8">
				<label for="hotel_location">Location</label>
			    <input type="text" class="form-control" id="hotel_location" placeholder="Enter Name">
	 		</div>
	 	</div>
		<div class ="form-group">
			<div class="col-lg-3">
				<label for="hotel_check_in">Check-In</label>
			    <input type="text" class="form-control" id="hotel_check_in">	
			</div>
			
			<div class="col-lg-3">
				<label for="hotel_check_out">Check-Out</label>
			    <input type="text" class="form-control" id="hotel_check_out">		
			</div>
			
		</div>
		<div class="form-group">
			<div class="col-lg-3">
					<label for="hotel_rooms">Rooms</label>
					<select id="hotel_rooms" class="form-control">
						<option value="1" selected="selected">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option> 
					</select>
			</div>
			<div class="col-lg-3">
					<label for="hotel_num_adults">Adults</label>
					<select id="hotel_num_adults" class="form-control">
						<option value="1" selected="selected">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option> 
					</select>
			</div>
		</div>  
</form>
<p>
	 <button id="finder_hotel_search" class="btn btn-default">Search</button>
</p>

