<form>
	<fieldset>
		<legend><strong><span class="glyphicon glyphicon-search"></span> Find Activities</strong></legend>
		<div class="form-group">
		    <label for="where">Location</label>
		    <input type="text" class="form-control" id="where" placeholder="Enter Location">
	 	</div>
	 	<div class="form-group">
		    <label for="what">Search</label>
		    <input type="text" class="form-control" id="what" placeholder="Enter Term">
	 	</div>
	</fieldset>
</form>

<p>
	<div class="panel panel-default">
				<div class="panel-body">
					<strong>Suggestions:</strong>
					<div class="table-scrollable">
							<table class="finder-suggestions-table">
						    	<tr>
						    		<td>
						    			<a href="#" data-category="bars">
							    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/60/94/60946d86f2119e06fc9ab7dc2a9ccc3f.jpg" class="img-circle">
							    			<p class="text-muted">Bars or Clubs</p>
						    			</a>
						    		</td>
						    		<td>
						    			<a href="#" data-category="restaurants">
								      		<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/4f/02/4f02fb04f537ce1dd52fcf4080bafefd.jpg" class="img-circle">
							    			<p class="text-muted">Restaurant & Food</p>
						    			</a>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/95/97/9597951cd338de987f68cf9e1f2c55e7.jpg" class="img-circle">
						    			<p class="text-muted">Performing Arts</p>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/5d/0e/5d0e93497303c15ce47795b3670c06ed.jpg" class="img-circle">
						    			<p class="text-muted">Museums & Art</p>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/5d/0e/5d0e93497303c15ce47795b3670c06ed.jpg" class="img-circle">
						    			<p class="text-muted">Test</p>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/5d/0e/5d0e93497303c15ce47795b3670c06ed.jpg" class="img-circle">
						    			<p class="text-muted">Test</p>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/5d/0e/5d0e93497303c15ce47795b3670c06ed.jpg" class="img-circle">
						    			<p class="text-muted">Test</p>
						    		</td>
						    		<td>
						    			<img src="https://dm8upoct4laqm.cloudfront.net/thumbs/5d/0e/5d0e93497303c15ce47795b3670c06ed.jpg" class="img-circle">
						    			<p class="text-muted">Test</p>
						    		</td>
						    	</tr>
						    </table>
					</div>
				</div>
			</div>
</p>
<div class="row">
	<div class="col-lg-2">
		<button id="finder_search" class="btn btn-default">Submit</button>
	</div>
</div>
