<h4 class="text-info"><strong>Find Activities in San Francisco</strong></h4>
<form>
		<div class="form-group">
		    <label for="where">Location</label>
		    <input type="text" class="form-control" id="where" placeholder="Enter Location">
	 	</div>
	 	<div class="form-group">
		    <label for="what">Search</label>
		    <input type="text" class="form-control" id="what" placeholder="Enter Term">
	 	</div>
</form>
<div class="row">
	<div class="col-lg-2">
		<button id="finder_search" class="btn btn-default">Submit</button>
	</div>
</div>