{% load trip_extras %}
<p>
	<a class="prev-activity-summary" data-activity-id="{{activity_id}}" href="#"><small><span class="glyphicon glyphicon-chevron-left"></span> Back</small>
	</a>
</p>
<h4><strong><span class="glyphicon glyphicon-star"></span>  Review This Activity</strong></h4>
<hr>
<div id="{{activity_id}}_all_reviews">
	{% for activity_review in activity_reviews %}
		<p>
			{% if user.username == activity_review.review_by.username %}
				{% with reviewer_profile=user_profile%}
					{% include "trip/review_summary.html" with reviewer_profile=reviewer_profile activity_review=activity_review%}
				{% endwith %}
			{% else %}
				{% with reviewer_profile=user_participants_social_pf|lookup:activity_review.review_by%}
					{% include "trip/review_summary.html" with reviewer_profile=reviewer_profile activity_review=activity_review%}
				{% endwith %}
			{% endif %}
				
		</p>
	{% endfor %}
</div>

<div id="{{activity_id}}_review_form_div">
	<form id="{{activity_id}}_review_form" class="form-horizontal">
		<div class="form-group">
			<div id="{{activity_id}}_id_review_rating" class="star-choice">
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<textarea class="form-control" id="{{activity_id}}_id_review_description" name="review_description" rows="1" placeholder="Add a Review"></textarea>
			</div>
		</div>
	</form>
	<div class="pull-right">
		<p>
			 <button class="btn btn-primary review-post" data-activity-id="{{ activity_id }}">Save</button>
		</p>
	</div>
</div>