{% extends "trip/base.html" %}
{% load staticfiles %}
{% block title %}Welcome Home!{% endblock %}
{% load trip_extras %}

{% block content %}


	{% include "trip/create_activity.html"%}
	<input type="hidden" id="id_slug" value="{{ trip.slug }}" />
<script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
<div class="container">	
	<div class="trip-header">
		<img src="{% static "trip/DowntownSF.jpg" %}">
		<div class="trip-details">
			<h1><strong>{{trip.name}}</strong></h1>
			<h3>{{trip.start_date}}-{{trip.end_date}}</h3>
		</div>
		<div class="trip-participants">
			<img src="https://graph.facebook.com/{{user_profile.username}}/picture?width=80&height=80">
			{% for user_participant in user_participants_social_pf %}
	        		{% with user_participant_social_pf=user_participants_social_pf|lookup:user_participant %}     
	        			<img src="https://graph.facebook.com/{{user_participant_social_pf.username}}/picture?width=80&height=80">
	        		{% endwith %}
	        {% endfor %}
		</div>
	</div>
	
	<div class="trip-contents">
	<div class="row">
		<div class="col-lg-12">
			<div class="btn-group btn-group-justified btn-nav-group" data-toggle="buttons">
			  <label id="nav_itinerary" class="btn btn-primary nav-options active"  data-target="#itinerary">
			    <input type="radio"><strong><span class="glyphicon glyphicon-calendar"></span>  Itinerary</strong>
			  </label>
			  <label class="btn btn-primary nav-options"  data-target="#finder">
			    <input type="radio"><strong><span class="glyphicon glyphicon-search"></span>  Finder</strong>
			  </label>
			  <label class="btn btn-primary nav-options" data-target="#tasks">
			    <input type="radio"><strong><span class="glyphicon glyphicon-tasks"></span>  Tasks</strong>
			  </label>
			  <label class="btn btn-primary nav-options" data-target="#">
			    <input type="radio"><strong><span class="glyphicon glyphicon-pencil"></span>  Surveys</strong>
			  </label>
			  <label class="btn btn-primary nav-options" data-target="#">
			    <input type="radio"><strong><span class="glyphicon glyphicon-usd"></span>  Costs</strong>
			  </label>
			  <label class="btn btn-primary nav-options" data-target="#">
			    <input type="radio"><strong><span class="glyphicon glyphicon-picture"></span>  Photo Album</strong>
			  </label>
			  <label class="btn btn-primary nav-options" data-target="#invite">
			    <input type="radio"><strong><span class="glyphicon glyphicon-user"></span>  Invite</strong>
			  </label>
			</div>
		</div>
		
		<div class="container">
			<div class="tab-content">
			  	<!--Content of Itinerary Tab-->
			  	<div class="tab-pane active" id="itinerary">
			  			{% include "trip/itinerary2.html" with user=user user_profile=user_profile user_participants_social_pf=user_participants_social_pf activities=activities dates=dates activity_category_icons=activity_category_icons%}
			  	</div>
			  	<!--Content of Finder Tab-->
			  	<div class="tab-pane" id="finder">
			  			{% include "finder/finder.html"%}
			  	</div>
			  	<!--Content of Tasks Tab-->
			  	<div class="tab-pane" id="tasks">
			  			{% include "tasks/tasks.html" with tasks=tasks trip_participants=trip_participants%}
			  	</div>
			  	<!--Content of Invite Tab-->
			  	<div class="tab-pane" id="invite">
			  			{% include "invite/invite.html" with user_list=user_list trip_participants=trip_participants%}
			  	</div>
			</div>
			<div class="col-lg-6">
			  		{% include "googlemaps/map.html" %}
			</div>
		</div>
	</div>
	</div>
</div>


{% endblock %}
 
 
 
 
 