{% extends "trip/base.html" %}

{% block title %}Welcome Home!{% endblock %}

{% block content %}
	<div class="container">
        <div class="profile-contents">
            <h3 class="text-info"><strong>My Trips</strong></h3>
            <table id="myTrips" class="table table-hover">
                <tbody>
                {% for participating_trip in participating_trips %}
                    {% include "trip/trip_summary.html" with trip_info=participating_trip.trip %}
                {% empty %}
                        <tr id="no_trips">
                            <td>
                                <strong>You don't have any trips!</strong>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
            <button id="createTripButton" class="btn btn-primary" type="button">Start New Trip!</button>
            {% include "trip/create_trip.html" with form=create_trip_form %}

            <h3 class="text-info"><strong>My Trip Invitations</strong></h3>
            <table id="myTripInvitations" class="table table-hover">
                <tbody>
                {% for trip_invitation in pending_invitations %}
                    {% include "invite/trip_invitation_summary.html" with trip_invitation=trip_invitation %}
                {% empty %}
                    <div id="no_trip_invitations">
                        <tr>
                            <td>
                                <strong>You don't have any trip invitations!</strong>
                            </td>
                        </tr>
					</div>
                {% endfor %}
                </tbody>
            </table>
        </div>

	</div>
{% endblock %}
